@model IEnumerable<MusicDating.Models.Entities.Ensemble>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Bands</h1>

<p>
    <a asp-action="Create">Create New Ensemble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Homepage)
            </th> *@
@*             <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeFrequency)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.EnsembleGenres)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.PlayRegular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayProject)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Homepage)
            </td> *@
@*             <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.Description)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PracticeFrequency.Description)
            </td> 





            <td>
                @foreach (var genre in item.EnsembleGenres)
                                    {
                                    
                                    @if (genre.EnsembleId == item.EnsembleId)
                                    {
                                        <span class="badge badge-warning">@Html.DisplayFor(modelItem => genre.Genre.Name)</span>
                                    } <!-- closing if genre -->
                                    
                                    }

            </td>


             <td>
                @Html.DisplayFor(modelItem => item.PlayRegular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayProject)
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnsembleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnsembleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnsembleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
